<div *ngIf="details" class="movie">
    <div class="movie__picture">
        <img [src]="details.picture | imagePath" [alt]="details.title">
    </div>

    <div class="movie__general">
        <h1>{{ details.title }}</h1>

        <div class="movie__description">
            {{ details.description }}
        </div>

        <div class="movie__date">
            <time [attr.datetime]="details.date | date:'y-MM-dd'">
                {{ details.date | date:'dd MMM y' }}
            </time>
        </div>

        <div>
            <p>Genres</p>
            <p *ngFor="let genres of details.genres">{{ genres.name }}</p>
        </div>
    </div>
</div>
