<div *ngIf="details" class="movie">
    <div class="movie__picture" *ngIf="details.picture">
        <img
            [src]="details.picture | imagePath"
            [srcset]="details.picture | imagePath: true"
            [alt]="details.title">
    </div>

    <div class="movie__general">
        <h1>{{ details.title }}</h1>

        <div class="movie__description" *ngIf="details.description">
            {{ details.description }}
        </div>

        <div class="movie__date" *ngIf="details.date">
            <time [attr.datetime]="details.date | date:'y-MM-dd'">
                {{ details.date | date:'dd MMM y' }}
            </time>
        </div>

        <div *ngIf="details.genres.length">
            <p>Genres</p>
            <p *ngFor="let genres of details.genres">{{ genres.name }}</p>
        </div>
    </div>
</div>
