<div *ngIf="(pageDetails$ | async) as details" class="movie-info">
    <div class="container movie-info__wrapper">
        <img [src]="details.picture | imagePath" [alt]="details.title" class="movie-info__pic">

        <h2 class="movie-info__title">{{ details.title }}</h2>
        <a routerLink="../" class="movie-info__back">{{ 'Back' }}</a>
    </div>
</div>

<div class="cast">
    <div class="cast__section" *ngIf="(cast$ | async) as cast">
        <h3>{{ 'Actors' }}</h3>

        <div class="grid">
            <tmbd-person-card
                *ngFor="let person of cast"
                [person]="{
                id: person.id,
                name: person.name,
                poster: person.poster,
                role: person.role
            }"></tmbd-person-card>
        </div>
    </div>

    <div class="cast__section" *ngIf="(crew$ | async) as crew">
        <h3>{{ 'Not Actors' }}</h3>

        <div class="grid">
            <tmbd-person-card
                *ngFor="let person of crew"
                [person]="{
                id: person.id,
                name: person.name,
                poster: person.poster,
                role: person.role
            }"></tmbd-person-card>
        </div>
    </div>
</div>
