<tmbd-scroller *ngIf="insideScroller; else flatView">
    <div class="grid grid--scroller">
        <ng-container *ngTemplateOutlet="person"></ng-container>
    </div>
</tmbd-scroller>

<ng-template #flatView>
    <div class="table-list">
        <ng-container *ngTemplateOutlet="person"></ng-container>
    </div>
</ng-template>

<ng-template #person>
    <tmbd-person-card
        *ngFor="let person of castList"
        [class.person-flat]="!insideScroller"
        [person]="{
            id: person.id,
            name: person.name,
            poster: person.poster,
            role: person.role
        }">
    </tmbd-person-card>
</ng-template>
