@use 'design' as *;

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include tablet-small {
        max-width: $bp576;
    }

    @include tablet {
        max-width: $bp768;
    }

    @include tablet-big {
        max-width: $bp992;
    }

    @include desktop {
        max-width: $bp1200;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;

    &--scroller {
        flex-wrap: nowrap;

        & > * {
            flex-shrink: 0;
        }
    }
}

.section {
    &:not(:first-child) {
        margin-top: 30px;
    }

    &__title {
        @include typo('title');
    }
}
