@mixin typo($type, $weight: 400) {
    @if ($type == "regular") {
        font-weight: 400;
        font-size: 16px;
    }

    @if ($type == "title") {
        font-weight: 600;
        font-size: 1.5em;
    }

    @if ($type == "h2") {
        font-size: 2em;
        font-weight: 700;
    }

    @if ($type == "h3") {
        font-size: 2em;
        font-weight: 600;
    }

    @if ($type == "small") {
        font-weight: 500;
        font-size: 12px;
    }
}
