<ng-container *ngIf="card">
    <a class="card" [title]="card.title" [routerLink]="['/movie/', card.id]" *ngIf="card.media_type === 'movie'">
        <ng-container *ngTemplateOutlet="poster; context: { imageUrl: card.poster_path, alt: card.title }"></ng-container>

        <ng-container *ngTemplateOutlet="rating; context: { rating: card.vote_average }"></ng-container>

        <span class="card__content">
            <h2 class="card__title">{{ card.title }}</h2>
            <ng-container *ngTemplateOutlet="date; context: { date: card.release_date }"></ng-container>
        </span>
    </a>

    <a class="card" [title]="card.name" [routerLink]="['/tv/', card.id]" *ngIf="card.media_type === 'tv'">
        <ng-container *ngTemplateOutlet="poster; context: { imageUrl: card.poster_path, alt: card.name }"></ng-container>

        <ng-container *ngTemplateOutlet="rating; context: { rating: card.vote_average }"></ng-container>

        <span class="card__content">
            <h2 class="card__title">{{ card.name }}</h2>
            <ng-container *ngTemplateOutlet="date; context: { date: card.first_air_date }"></ng-container>
        </span>
    </a>

    <a class="card card--person" [title]="card.name" [routerLink]="['/person/', card.id]" *ngIf="card.media_type === 'person'">
        <ng-container *ngTemplateOutlet="poster; context: { imageUrl: card.profile_path, alt: card.name }"></ng-container>

<!--        <ng-container *ngTemplateOutlet="rating; context: { rating: card.popularity }"></ng-container>-->

        <span class="card__content">
            <h2 class="card__title">{{ card.name }}</h2>
        </span>
    </a>
</ng-container>

<ng-template #poster let-poster="imageUrl" let-alt="alt">
    <img
        *ngIf="poster; else emptyImage"
        loading="lazy"
        decoding="async"
        class="card__poster"
        [src]="poster | imagePath"
        [srcset]="(poster | imagePath) + ' 1x, ' + (poster | imagePath: true) + ' 2x'"
        [alt]="alt">
</ng-template>

<ng-template #emptyImage>
    <div class="card__empty"></div>
</ng-template>

<ng-template #rating let-rating="rating">
    <span class="card__rating" [attr.style]="'--tmbd-rating-value: ' + (rating | rating)">
        {{ rating | rating }}%
    </span>
</ng-template>

<ng-template #date let-date="release">
    <time
        class="card__date"
        [attr.datetime]="date | date:'y-MM-dd'">
        {{ date | date:'dd MMM y' }}
    </time>
</ng-template>
