@use 'design' as *;

.card {
    display: grid;
    grid-template-rows: 236px 15px 25px max-content;
    border: 1px solid rgba(var(--lightGrey) / 1);
    width: 172px;
    height: 100%;
    overflow: hidden;
    background-color: rgb(var(--white));
    box-shadow: 0 2px 8px rgb(var(--black) / 0.1);
    border-radius: $border-radius;

    &--person {
        grid-template-rows: 1fr max-content;
    }

    &__poster,
    &__rating,
    &__content {
        grid-column: 1 / -1;
    }

    &__poster {
        grid-row: 1 / 3;
        height: 100%;
        object-fit: cover;
    }

    &__empty {
        background-color: rgb(var(--lightGrey));
    }

    &__rating {
        @include typo('small');

        grid-row: 2 / 4;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 40px;
        background-color: rgb(var(--black));
        border-radius: 50%;
        overflow: hidden;
        color: rgb(var(--white));

        &::before {
            position: absolute;
            inset: 0;
            background-color: rgb(var(--scrollerGrey));
            background-image: conic-gradient(rgb(var(--accountGreen)) calc(var(--tmbd-rating-value) * 1%), transparent 0);
            mask-image: radial-gradient(50% 50%, transparent calc(100% - 3px), rgb(var(--black)) calc(100% - 2px), rgb(var(--black)));
            content: '';
        }
    }

    &__content {
        grid-row: 4 / -1;
        padding: 5px 10px 10px;
    }

    &__title {
        @include typo('regular');

        color: rgb(var(--black));
        font-weight: 700;
        line-height: 1;
    }

    &__date {
        @include typo('small');

        display: block;
        color: rgb(var(--black));
        margin-top: 5px;
    }
}
