<a class="card" [title]="card.title" [routerLink]="link" *ngIf="card">
    <img
        *ngIf="card.poster"
        loading="lazy"
        decoding="async"
        class="card__poster"
        [src]="card.poster | imagePath"
        [srcset]="card.poster | imagePath: true"
        [alt]="card.title">

    <span class="card__rating" [attr.style]="'--tmbd-rating-value: ' + (card.rating | rating)">
        {{ card.rating | rating }}%
    </span>

    <span class="card__content">
        <h2 class="card__title">{{ card.title }}</h2>
        <time
            class="card__date"
            [attr.datetime]="card.date | date:'y-MM-dd'">
            {{ card.date | date:'dd MMM y' }}
        </time>
    </span>
</a>
