<ng-container *ngIf="card">
    <a class="card" [title]="card.title" [routerLink]="['/movie/', card.id]" *ngIf="card.title; else tvCard">
        <img
            *ngIf="card.poster_path"
            loading="lazy"
            decoding="async"
            class="card__poster"
            [src]="card.poster_path | imagePath"
            [srcset]="card.poster_path | imagePath: true"
            [alt]="card.title">

        <span class="card__rating" [attr.style]="'--tmbd-rating-value: ' + (card.vote_average | rating)">
            {{ card.vote_average | rating }}%
        </span>

        <span class="card__content">
            <h2 class="card__title">{{ card.title }}</h2>
            <time
                class="card__date"
                [attr.datetime]="card.release_date | date:'y-MM-dd'">
                {{ card.release_date | date:'dd MMM y' }}
            </time>
        </span>
    </a>
</ng-container>

<ng-template #tvCard>
    <a class="card" [title]="card.name" [routerLink]="['/tv/', card.id]" *ngIf="card">
        <img
            *ngIf="card.poster_path"
            loading="lazy"
            decoding="async"
            class="card__poster"
            [src]="card.poster_path | imagePath"
            [srcset]="(card.poster_path | imagePath) + ' 1x, ' + (card.poster_path | imagePath: true) + ' 2x'"
            [alt]="card.name">

        <span class="card__rating" [attr.style]="'--tmbd-rating-value: ' + (card.vote_average | rating)">
            {{ card.vote_average | rating }}%
        </span>

        <span class="card__content">
            <h2 class="card__title">{{ card.name }}</h2>
            <time
                class="card__date"
                [attr.datetime]="card.first_air_date | date:'y-MM-dd'">
                {{ card.first_air_date | date:'dd MMM y' }}
            </time>
        </span>
    </a>
</ng-template>
