<div class="pagination">
    <button
        class="pagination__item"
        (click)="previousClick()"
        [disabled]="currentPage === 1">
        &laquo; Previous
    </button>

    <span *ngIf="pagesShiftBefore">...</span>

    <button
        *ngFor="let _ of pages; let index = index"
        class="pagination__item"
        [class.active]="index + 1 === currentPage"
        (click)="onPageClick(index + 1)">{{ index + 1 }}</button>

    <span *ngIf="pagesShiftAfter">...</span>

    <button
        class="pagination__item"
        (click)="nextClick()"
        [disabled]="currentPage === totalPages">
        Next &raquo;
    </button>
</div>
