.cast-section {
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(var(--darkerGrey));
}

.cast-section__row {
    display: grid;
    grid-template-columns: 54px 1fr;
    grid-gap: 10px;
    padding: 10px 0;

    &:first-of-type {
        margin-top: 10px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgb(var(--darkerGrey));
    }

    div {
        position: relative;
    }

    div:first-child::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 10px;
        border: 2px solid rgb(var(--black));
        border-radius: 50%;
        content: '';
        transform: translateY(-50%);
    }

    a {
        color: rgb(var(--black));
        font-weight: bold;
    }
}
