<div class="person" *ngIf="(personDetails$ | async) as person">
    <aside class="person__sidebar">
        <img
            [src]="person.photo | imagePath"
            [srcset]="person.photo | imagePath: true"
            [alt]="person.name"
            class="person__photo">

        <div class="person__section">
            <p>Birthday</p>
            {{ person.birthday | date:'dd MMM y' }}
        </div>

        <div class="person__section">
            <p>Gender</p>
            {{ person.gender }}
        </div>

        <div class="person__section">
            <p>Place of birth</p>
            {{ person.place_of_birth }}
        </div>
    </aside>

    <main class="person__info">
        <h3 class="person__name">{{ person.name }}</h3>

        <div class="person__bio">
            <div class="person__section">
                <h4>Biography</h4>
                <div>{{ person.biography }}</div>
            </div>

            <div class="person__section" *ngIf="(personKnownFor$ | async) as creditList">
                <h4>Known for</h4>
                <tmbd-scroller>
                    <div class="grid grid--scroller">
                        <tmbd-thumbnail-card-selector
                            *ngFor="let credit of creditList"
                            [card]="credit"></tmbd-thumbnail-card-selector>
                    </div>
                </tmbd-scroller>
            </div>
        </div>

        <ng-container *ngIf="(personCast$ | async) as castGroup">
            <div class="person__acting" *ngIf="castGroup.cast as castList">
                <h3>Acting</h3>
                <div *ngFor="let cast of castList" class="person__acting-row">
                    <div>{{ cast.date | date: 'Y' }}</div>
                    <div>
                        <a [routerLink]="['/', cast.type, cast.id]">{{ cast.name }}</a> as {{ cast.role }}
                    </div>
                </div>
            </div>

            <div class="person__acting" *ngIf="castGroup.crew as crewList">
                <h3>Directing</h3>
                <div *ngFor="let crew of crewList" class="person__acting-row">
                    <div>{{ crew.date | date: 'Y' }}</div>
                    <div>
                        <a [routerLink]="['/', crew.type, crew.id]">{{ crew.name }}</a> as {{ crew.role }}
                    </div>
                </div>
            </div>
        </ng-container>
    </main>
</div>
