.person {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    margin-top: 50px;

    &__photo {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        border-radius: 8px;
    }

    &__section {
        margin-top: 15px;

        p {
            font-weight: bold;
        }
    }

    &__name {
        margin-bottom: 25px;
    }

    &__bio {
        margin-bottom: 50px;

        h4 {
            margin-bottom: 6px;
        }
    }

    &__acting {
        margin-bottom: 30px;
        padding: 10px 20px;
        box-shadow: 0 0 5px rgb(var(--darkerGrey));
    }

    &__acting-row {
        display: grid;
        grid-template-columns: 54px 1fr;
        grid-gap: 10px;
        padding: 10px 0;
        border-bottom: 1px solid rgb(var(--darkerGrey));

        div {
            position: relative;
        }

        div:first-child::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 10px;
            height: 10px;
            border: 2px solid rgb(var(--black));
            border-radius: 50%;
            content: '';
            transform: translateY(-50%);
        }

        a {
            color: rgb(var(--black));
            font-weight: bold;
        }
    }
}
