<ng-container *ngIf="(pageDetails$ | async) as details">
    <tmbd-movie-details [details]="details" [pageType]="pageType"></tmbd-movie-details>
</ng-container>

<div class="cast" *ngIf="(cast$ | async) as castList">
    <div class="container">
        <div class="cast__header">
            <h2>Main cast</h2>
            <a routerLink="cast" class="cast__link">See all</a>
        </div>

        <tmbd-cast-list
            [castList]="castList.cast"
            [insideScroller]="true"></tmbd-cast-list>
    </div>
</div>
