.movie-info {
    padding: 20px 0;
    border-top: 1px solid #444;
    color: rgb(var(--white));
    background-image: linear-gradient(to bottom right, rgba(10.5, 31.5, 52.5, 1), rgba(10.5, 31.5, 52.5, 0.84));

    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__pic {
        width: 80px;
        border-radius: 5px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__back {
        color: rgb(var(--white));
    }
}

.movie-cast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 20px;

    &__section {
        h3 {
            margin-bottom: 20px;
        }
    }
}
