<section class="hero">
    <div class="hero__title">
        <p>Добро пожаловать.</p>
        <p>Миллионы фильмов, сериалов и людей. Исследуйте сейчас.</p>
    </div>

    <input
        type="text"
        class="hero__search"
        name="searchInput"
        [formControl]="searchInput"
        placeholder="Search a movie or a tv show">
</section>

<ng-container *ngIf="isSearchHidden$ | async">
    <ng-container *ngIf="(searchResult$ | async) as searchResult">
        <section class="section" *ngIf="searchResult | filter: filterByMovie as searchResultMovies">
            <h2 class="section__title">Founded movies and tv</h2>
            <tmbd-scroller>
                <div class="grid grid--scroller">
                    <tmbd-thumbnail-card-selector
                        *ngFor="let searchItem of searchResultMovies; trackBy: trackById"
                        [card]="searchItem"></tmbd-thumbnail-card-selector>
                </div>
            </tmbd-scroller>
        </section>

        <section class="section" *ngIf="searchResult | filter: filterByPerson as searchResultPersons">
            <h2 class="section__title">Founded persons</h2>
            <tmbd-scroller>
                <div class="grid grid--scroller">
                    <tmbd-thumbnail-card-selector
                        *ngFor="let searchItem of searchResultPersons; trackBy: trackById"
                        [card]="searchItem"></tmbd-thumbnail-card-selector>
                </div>
            </tmbd-scroller>
        </section>
    </ng-container>
</ng-container>

<section class="section" *ngIf="(popular$ | async) as popularSectionList; else loadingState">
    <h2 class="section__title">Popular</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <ng-container *ngFor="let popularSection of popularSectionList">
                <tmbd-movie-card
                    *ngFor="let popular of popularSection; trackBy: trackById"
                    [card]="popular">
                </tmbd-movie-card>
            </ng-container>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="(rated$ | async) as topRatedSectionList; else loadingState">
    <h2 class="section__title">Top Rated</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <ng-container *ngFor="let topRatedSection of topRatedSectionList">
                <tmbd-movie-card
                    *ngFor="let top of topRatedSection; trackBy: trackById"
                    [card]="top">
                </tmbd-movie-card>
            </ng-container>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="(upcomingMovies$ | async) as upcomingList; else loadingState">
    <h2 class="section__title">Upcoming</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <tmbd-movie-card
                *ngFor="let upcoming of upcomingList; trackBy: trackById"
                [card]="upcoming">
            </tmbd-movie-card>
        </div>
    </tmbd-scroller>
</section>

<ng-template #loadingState>
    <section class="section">
        Loading ...
    </section>
</ng-template>
