<section class="hero">
    <div class="hero__title">
        <p>Добро пожаловать.</p>
        <p>Миллионы фильмов, сериалов и людей. Исследуйте сейчас.</p>
    </div>

    <input
        type="text"
        class="hero__search"
        name="searchInput"
        [formControl]="searchInput"
        placeholder="Search a movie or a tv show">
</section>

<section class="section" *ngIf="searchResultMovies$.value.length">
    <h2 class="section__title">Founded movies and tv</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <tmbd-thumbnail-card-selector
                *ngFor="let searchItem of searchResultMovies$ | async"
                [card]="searchItem"></tmbd-thumbnail-card-selector>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="searchResultPersons$.value.length">
    <h2 class="section__title">Founded persons</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <tmbd-thumbnail-card-selector
                *ngFor="let searchItem of searchResultPersons$ | async"
                [card]="searchItem"></tmbd-thumbnail-card-selector>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="(popular$ | async) as popularSectionList; else loadingState">
    <h2 class="section__title">Popular</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <ng-container *ngFor="let popularSection of popularSectionList">
                <tmbd-movie-card
                    *ngFor="let popular of popularSection"
                    [card]="popular"
                    [link]="[popular.type, popular.id]">
                </tmbd-movie-card>
            </ng-container>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="(rated$ | async) as topRatedSectionList; else loadingState">
    <h2 class="section__title">Top Rated</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <ng-container *ngFor="let topRatedSection of topRatedSectionList">
                <tmbd-movie-card
                    *ngFor="let top of topRatedSection"
                    [card]="top"
                    [link]="[top.type, top.id]">
                </tmbd-movie-card>
            </ng-container>
        </div>
    </tmbd-scroller>
</section>

<section class="section" *ngIf="(upcomingMovies$ | async) as upcomingList; else loadingState">
    <h2 class="section__title">Upcoming</h2>
    <tmbd-scroller>
        <div class="grid grid--scroller">
            <tmbd-movie-card
                *ngFor="let upcoming of upcomingList"
                [card]="upcoming"
                [link]="[upcoming.type, upcoming.id]">
            </tmbd-movie-card>
        </div>
    </tmbd-scroller>
</section>

<ng-template #loadingState>
    <section class="section">
        Loading ...
    </section>
</ng-template>
